<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Grammar Checker</Name>
    <Version>1.1</Version>
    <Title>Grammar Checker Installer</Title>
    <ProductUrl>https://github.com/IlyaLts/GrammarChecker</ProductUrl>
    <WizardShowPageList>false</WizardShowPageList>
        <RunProgram>@TargetDir@/GrammarChecker</RunProgram>
    <RunProgramArguments>launchOnStartup</RunProgramArguments>
    <StartMenuDir>Grammar Checker</StartMenuDir>
    <TargetDir>@ApplicationsDir@/GrammarChecker</TargetDir>
    <ControlScript>ControlScript.qs</ControlScript>
    <InstallerApplicationIcon>../../Icon</InstallerApplicationIcon>
</Installer>
